@import url("./global.css");

.container-1 {
  padding: 4.188rem 10.188rem;
}

.container-2 {
  padding: 4.188rem 14.188rem;
}

.services-cards {
  padding: 0 2rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: flex;
  justify-content: center;

  padding-top: 5.625rem;
}

.bottom-section ul li:nth-child(4) {
  margin-top: 5.6rem;
}

.ocasions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ocasions-cont {
  display: flex;
  justify-content: space-between;

  margin-top: 3rem;
  width: 50%;
}

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cu-top {
  text-align: center;
  padding-bottom: 2.75rem;
}

.cu-middle {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.cu-bottom {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
