@import url("./global.css");

.container-1 {
  padding: 4.188rem 10.188rem;
}

.container-2 {
  padding: 4.188rem 14.188rem;
}

.services-cards {
  padding: 0 2rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.bottom-section {
  display: flex;
  justify-content: center;

  padding-top: 5.625rem;
}

.bottom-section ul li:nth-child(4) {
  margin-top: 5.6rem;
}
